<template>
    <div class="block-header">
        <h2>${editUser? 'Edit User' : 'Create User'}</h2>
    </div>
    
    <div class="card">
        <!--<div class="card-header">-->
        <!--    <h2>Roles-->
        <!--        <small>You can assign/remove permissions for a given role or even add a new role on this screen.-->
        <!--        </small>-->
        <!--    </h2>-->
        <!--</div>-->
        
       
        <div class="card-body card-padding">
            <div class="form-group fg-line"><!--<div class="form-group has-error">-->
                <div class="fg-line">
                    <!--<label class="control-label" for="inputError1">Input with error</label>-->
                    <input type="text" class="form-control" placeholder="Full name of the user you want to add" value.bind="user.realName & validate" disabled.bind="editUser">
                </div>
                <!--<small class="help-block">This is an error help block</small>-->
            </div>
            
            <div class="form-group fg-line"><!--<div class="form-group has-error">-->
                <div class="fg-line">
                    <!--<label class="control-label" for="inputError1">Input with error</label>-->
                    <input type="text" class="form-control" placeholder="Facebook ID" value.bind="user.facebookId & validate">
                </div>
                <!--<small class="help-block">This is an error help block</small>-->
            </div>
            
            <div> <!-- <div class="has-error"> -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked.bind="user.isAdmin">
                        <i class="input-helper"></i>
                        Make Admin (This will allow unrestricted access along with ability to modify permissions. Be careful.)
                    </label>
                </div>
            </div>
            
            <div> <!-- <div class="has-error"> -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked.bind="user.enable">
                        <i class="input-helper"></i>
                        Active (Unchecking this option will restrict logging into the system)
                    </label>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-5 col-xs-12 m-t-10 form-group">
                    <select ref="rolesCombo" value.bind="user.role & validate" change.delegate="change_selectedRole()" data-live-search="true" title="Select a role" disabled.bind="user.isAdmin">
                        <option repeat.for="role of roleList" model.bind="role._id" value.bind="role._id">${role.name}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 m-t-30">
                    <button class="btn btn-primary btn-icon-text waves-effect pull-right m-l-20" click.delegate="click_applyChanges()"><i class="zmdi zmdi-floppy"></i>
                                    Save Changes
                    </button>
                    
                    <button class="btn btn-default waves-effect pull-right" click.delegate="click_goback()"><i class="zmdi zmdi-arrow-back"></i></button>
                </div>
            </div>
            
        </div>
    </div>
</template>