<template>
    <div class="block-header">
        <h2>${editEmaillist? 'Edit Email List' : 'Create Email List'}</h2>
    </div>
    
    <div class="card">
        <!--<div class="card-header">-->
        <!--    <h2>Roles-->
        <!--        <small>You can assign/remove permissions for a given role or even add a new role on this screen.-->
        <!--        </small>-->
        <!--    </h2>-->
        <!--</div>-->
        
       
        <div class="card-body card-padding">
            <div class="form-group fg-line"><!--<div class="form-group has-error">-->
                <div class="fg-line">
                    <!--<label class="control-label" for="inputError1">Input with error</label>-->
                    <input type="text" class="form-control" placeholder="Name of email list" value.bind="emailList.name & validate">
                </div>
                <!--<small class="help-block">This is an error help block</small>-->
            </div>
            
            <div class="form-group fg-line"><!--<div class="form-group has-error">-->
                <div class="fg-line">
                    <!--<label class="control-label" for="inputError1">Input with error</label>-->
                    <textarea class="form-control" rows="5" placeholder="Enter comma-separated email addresses" value.bind="emailList.list"></textarea>
                </div>
                <!--<small class="help-block">This is an error help block</small>-->
            </div>
            
            
            <div class="row">
                <div class="col-sm-12 col-xs-12 m-t-30">
                    <button class="btn btn-primary btn-icon-text waves-effect pull-right m-l-20" click.delegate="click_applyChanges()"><i class="zmdi zmdi-floppy"></i>
                                    Save Changes
                    </button>
                    
                    <button class="btn btn-default waves-effect pull-right" click.delegate="click_goback()"><i class="zmdi zmdi-arrow-back"></i></button>
                </div>
            </div>
            
        </div>
    </div>
</template>