<template>
    <div class="block-header">
        <h2>Manage 'FAQ' page</h2>

    </div>
    
    <div class="card">
        <div class="card-header"><!--ch-alt-->
            <h2>Add a new question
                <!--<small>Pellentesque ac lectus sed elit dictum vehicula</small>-->
            </h2>
        </div>

        <div class="card-body card-padding">
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input type="email" class="form-control input-sm">
                    <label class="fg-label">Enter a new question</label>
                </div>
            </div>

            <div class="form-group fg-float">
                <div class="fg-line">
                    <textarea class="form-control auto-size input-sm" style="overflow: hidden; word-wrap: break-word; height: 43px;"></textarea>
                    <label class="fg-label">Enter answer for the new question</label>
                </div>
            </div>

            <button class="btn btn-success btn-icon-text waves-effect">
                <i class="zmdi zmdi-floppy"></i> Add
            </button>
            <button class="btn btn-link waves-effect">Cancel</button>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h2>Existing Questions & Answers
                <small>You can arrange the order by simply dragging them up/down
                </small>
            </h2>
        </div>
        
       
        <div class="card-body card-padding" ref="questionSection">
           
            
            
            <div class="row" >
                <div class="col-md-12" >
                    
                    <ul ref="sortable" style="list-style-type: none;">
                      <li class="ui-state-default" data-item-id="1" style="border: 0">
                          <div class="card">
                                <div class="card-header bgm-orange m-b-20">
                                    <div class="row">
                                        <div class="col-md-11 col-xs-11 col-sm-11">
                                            <h2>What kind of dog should I get?
                                                <small>Added by: Meike Parker, Date Added: 01/02/2017, Modified by: Meike Parker, Date Updated: 01/02/2017</small>
                                            </h2>
                                        </div>
                                    
                                        <ul class="actions actions-alt">
                                            <li>
                                                <a href="">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    
                                    </div>
                                    <!--<button class="btn bgm-blue btn-float waves-effect"><i class="zmdi zmdi-mail-send"></i></button>-->
                                </div>
        
                                <div class="card-body card-padding">
                                    Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit,
                                    tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus,
                                    eu facilisis ante. Mauris nec commodo felis. Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit,
                                    tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus,
                                    eu facilisis ante. Mauris nec commodo felis. Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit,
                                    tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus,
                                    eu facilisis ante. Mauris nec commodo felis. 
                                </div>
                            </div>
                
                      </li>
                      
                      <li class="ui-state-default" data-item-id="2" style="border: 0">
                        <div class="card">
                            <div class="card-header bgm-cyan m-b-20">
                                <h2>Some Title
                                    <!--<small>Phasellus condimentum ipsum id auctor</small>-->
                                </h2>
                                
                                <button class="btn bgm-blue btn-float waves-effect"><i class="zmdi zmdi-mail-send"></i></button>
                            </div>
    
                            <div class="card-body card-padding">
                                Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit,
                                tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus,
                                eu facilisis ante. Mauris nec commodo felis.
                            </div>
                        </div>
                      
                      </li>
                    </ul>
            
                    <!--<div class="table-responsive" ref="dynamicDom">-->
                    <!--</div>                    -->
                    
                    
                    
                
                </div>
            </div>
        </div>

    </div>
    
</template>