<template>
    <div class="block-header">
        <h2>Manage 'FAQ' page</h2>

    </div>
    
    <div class="card">
        <div class="card-header"><!--ch-alt-->
            <h2>Add a new question
                <!--<small>Pellentesque ac lectus sed elit dictum vehicula</small>-->
            </h2>
        </div>

        <div class="card-body card-padding">
            <div class="form-group fg-float m-b-30">
                <div class="fg-line" ref="newQuestionDOM">
                    <input type="text" value.bind="newEntry.question & validate" class="form-control input-sm">
                    <label class="fg-label">Enter a new question</label>
                </div>
            </div>

            <div class="form-group fg-float">
                <div class="fg-line" ref="newAnswerDOM">
                    <textarea class="form-control auto-size input-sm" style="overflow: hidden; word-wrap: break-word; height: 43px;" value.bind="newEntry.answer & validate"></textarea>
                    <label class="fg-label">Enter answer for the new question</label>
                </div>
            </div>

            <button class="btn btn-success btn-icon-text waves-effect" click.delegate="click_add()">
                <i class="zmdi zmdi-floppy"></i>${ newEntry._id !== undefined ? 'Save Changes' : 'Confirm Add' }
            </button>
            <button class="btn btn-link waves-effect" click.delegate="click_cancel()">Cancel</button>
        </div>
    </div>
    
    <div class="card" if.bind="questionList.length > 0">
        <div class="card-header">
            <h2>Existing Questions & Answers
                <small>You can arrange the order by simply dragging them up/down
                </small>
            </h2>
        </div>
        
       
        <div class="card-body card-padding" ref="questionSection">
            <div class="row">
                <div class="col-md-12" >
                    
                    <ul ref="sortable" style="list-style-type: none;">
                      <li class="ui-state-default" data-item-id="1" style="border: 0" repeat.for="ques of questionList">
                          <div class="card" data-id.bind="ques._id">
                                <div class="card-header bgm-${ques.color} m-b-20">
                                    <div class="row">
                                        <div class="col-md-11 col-xs-11 col-sm-11">
                                            <h2>${ques.question}
                                                <small>Added by: ${ques.createdBy.realName}, Date Added: ${ques.dateAdded}, Modified by: ${ques.updatedBy.realName}, Date Updated: ${ques.dateUpdated}</small>
                                            </h2>
                                        </div>
                                    
                                        <ul class="actions actions-alt">
                                            <li>
                                                <a click.delegate="click_edit(ques._id)" style="cursor:pointer;">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a click.delegate="click_delete(ques._id)" style="cursor:pointer;">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    
                                    </div>
                                    <!--<button class="btn bgm-blue btn-float waves-effect"><i class="zmdi zmdi-mail-send"></i></button>-->
                                </div>
        
                                <div class="card-body card-padding">
                                    ${ques.answer}
                                </div>
                            </div>
                
                      </li>
                    </ul>
            
                    <!--<div class="table-responsive" ref="dynamicDom">-->
                    <!--</div>                    -->
                    
                    
                    
                
                </div>
            </div>
        </div>

    </div>
    
</template>