<template>
    <div class="block-header">
        <h2>Create New Write-Up for 'About Us' page</h2>
    </div>
    
    <div class="card">
        <!--<div class="card-header">-->
        <!--    <h2>Roles-->
        <!--        <small>You can assign/remove permissions for a given role or even add a new role on this screen.-->
        <!--        </small>-->
        <!--    </h2>-->
        <!--</div>-->
        
       
        <div class="card-body card-padding">
            <span show.bind="!showPreview">
                <div class="row">
                    <div class="col-sm-5 m-b-25">
                        <!--<p class="f-500 m-b-15 c-black">Roles</p>-->
                    
                        <div class="form-group fg-line">
                            <!--<label>Role name:</label>-->
                            <input type="text" class="form-control input-sm" placeholder="Enter name for this version of page Ex. Halloween update" value.bind="about.name & validate">
                        </div>
                    
                    </div>
                    <div class="col-sm-2 m-b-25 pull-left">
                        <label class="checkbox checkbox-inline m-t-10">
                            <input type="checkbox" checked.bind="about.active">
                            <i class="input-helper"></i>
                            Active
                        </label>
                    </div>
                    <div class="col-sm-5 m-t-20">
                        
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="fg-line">
                                <textarea class="form-control" rows="20" placeholder="Enter content here that you want to be displayed on 'About Us' page" value.bind="about.content & validate"></textarea>
                            </div>
                        </div>                    
                    </div>
                </div>
            </span>
            <span show.bind="showPreview" ref="dynamicDom">
                
            </span>
            <span>
                
                <div class="pm-body clearfix">
                    <div class="card profile-view">
                        <div class="pv-header">
                            <img src="assets/img/logo.png" class="pv-main" alt="">
                        </div>
    
                        <div class="pv-body">
                            <div class="card" id="profile-main">
                                <div class="pm-overview c-overflow">
                                    <div class="pmo-pic">
                                        <div class="p-relative">
                                            <a href="">
                                                <img class="img-responsive" src="assets/img/profile.png" alt="">
                                            </a>
                                            
                                            <div class="dropdown pmop-message">
                                                <a data-toggle="dropdown" href="" class="btn bgm-white btn-float z-depth-1">
                                                    <i class="zmdi zmdi-comment-text-alt"></i>
                                                </a>
        
                                                <div class="dropdown-menu">
                                                    <textarea placeholder="Write something..."></textarea>
        
                                                    <button class="btn bgm-green btn-float"><i class="zmdi zmdi-mail-send"></i>
                                                    </button>
                                                </div>
                                            </div>
        
                                            <a href="" class="pmop-edit">
                                                <i class="zmdi zmdi-camera"></i> <span
                                                    class="hidden-xs">Update Profile Picture</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pmo-block pmo-contact hidden-xs">
                                        <h2>Contact</h2>
        
                                        <ul>
                                            <li><i class="zmdi zmdi-phone"></i> 00971 12345678 9</li>
                                            <li><i class="zmdi zmdi-email"></i> malinda-h@gmail.com</li>
                                            <li><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>
                                            <li><i class="zmdi zmdi-twitter"></i> @malinda (twitter.com/malinda)</li>
                                            <li>
                                                <i class="zmdi zmdi-pin"></i>
                                                <address class="m-b-0 ng-binding">
                                                    44-46 Morningside Road,<br>
                                                    Edinburgh,<br>
                                                    Scotland
                                                </address>
                                            </li>
                                        </ul>
                                    </div>

                                </div>                
                                <div class="pm-body clearfix">
                                
                                    <div class="pmb-block">
                                        <div class="pmbb-header" style="text-align: left;">
                                            <h2><i class="zmdi zmdi-equalizer m-r-10"></i> Summary</h2>
        
                                            <ul class="actions">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="zmdi zmdi-more-vert"></i>
                                                    </a>
        
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a data-ma-action="profile-edit" href="">Edit</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pmbb-body p-l-30">
                                            <div class="pmbb-view" style="text-align: left;">
                                                Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel
                                                magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor.
                                                Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor
                                                metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.
                                            </div>
        
                                            <div class="pmbb-edit">
                                                <div class="fg-line">
                                                    <textarea class="form-control" rows="5" placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
                                                </div>
                                                <div class="m-t-10">
                                                    <button class="btn btn-primary btn-sm waves-effect">Save</button>
                                                    <button data-ma-action="profile-edit-cancel" class="btn btn-link btn-sm waves-effect">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="pmb-block">
                                        <div class="pmbb-header"  style="text-align: left;">
                                            <h2><i class="zmdi zmdi-account m-r-10"></i> Basic Information</h2>
        
                                            <ul class="actions">
                                                <li class="dropdown">
                                                    <a href="" data-toggle="dropdown">
                                                        <i class="zmdi zmdi-more-vert"></i>
                                                    </a>
        
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a data-ma-action="profile-edit" href="">Edit</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="pmbb-body p-l-30"  style="text-align: left;">
                                            <div class="pmbb-view">
                                                <dl class="dl-horizontal">
                                                    <dt>Full Name</dt>
                                                    <dd>Mallinda Hollaway</dd>
                                                </dl>
                                                <dl class="dl-horizontal">
                                                    <dt>Gender</dt>
                                                    <dd>Female</dd>
                                                </dl>
                                                <dl class="dl-horizontal">
                                                    <dt>Birthday</dt>
                                                    <dd>June 23, 1990</dd>
                                                </dl>
                                                <dl class="dl-horizontal">
                                                    <dt>Martial Status</dt>
                                                    <dd>Single</dd>
                                                </dl>
                                            </div>
        
                                            <div class="pmbb-edit">
                                                <dl class="dl-horizontal">
                                                    <dt class="p-t-10">Full Name</dt>
                                                    <dd>
                                                        <div class="fg-line">
                                                            <input type="text" class="form-control" placeholder="eg. Mallinda Hollaway">
                                                        </div>
        
                                                    </dd>
                                                </dl>
                                                <dl class="dl-horizontal">
                                                    <dt class="p-t-10">Gender</dt>
                                                    <dd>
                                                        <div class="fg-line">
                                                            <select class="form-control">
                                                                <option>Male</option>
                                                                <option>Female</option>
                                                                <option>Other</option>
                                                            </select>
                                                        </div>
                                                    </dd>
                                                </dl>
                                                <dl class="dl-horizontal">
                                                    <dt class="p-t-10">Birthday</dt>
                                                    <dd>
                                                        <div class="dtp-container dropdown fg-line">
                                                            <input type="text" class="form-control date-picker" data-toggle="dropdown" placeholder="Click here...">
                                                        </div>
                                                    </dd>
                                                </dl>
                                                <dl class="dl-horizontal">
                                                    <dt class="p-t-10">Martial Status</dt>
                                                    <dd>
                                                        <div class="fg-line">
                                                            <select class="form-control">
                                                                <option>Single</option>
                                                                <option>Married</option>
                                                                <option>Other</option>
                                                            </select>
                                                        </div>
                                                    </dd>
                                                </dl>
        
                                                <div class="m-t-30">
                                                    <button class="btn btn-primary btn-sm waves-effect">Save</button>
                                                    <button data-ma-action="profile-edit-cancel" class="btn btn-link btn-sm waves-effect">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <div class="row">
                <div class="col-sm-12 col-xs-12 m-t-30">
                    <button class="btn btn-success btn-icon-text waves-effect pull-right m-l-20" click.delegate="click_applyChanges()" show.bind="!showPreview"><i class="zmdi zmdi-floppy"></i>
                                    Save Changes
                    </button>
                    
                    <button class="btn btn-success bgm-orange btn-icon-text waves-effect pull-right m-l-20" click.delegate="click_preview()" show.bind="!showPreview"><i class="zmdi zmdi-globe"></i>
                                    Preview
                    </button>
                    
                    <button class="btn btn-default waves-effect pull-right" show.bind="showPreview" click.delegate="click_preview()"><i class="zmdi zmdi-arrow-back"></i></button>
                    
                    <button class="btn btn-default waves-effect pull-right" show.bind="!showPreview" click.delegate="click_goback()"><i class="zmdi zmdi-arrow-back"></i></button>
                    
                </div>
            </div>
        </div>

    </div>
    
</template>