<template>
    
    <div class="row">
        <div class="col-sm-6">
            <compose view="common/calendarWidget/index.html" view-model="common/calendarWidget/index" model.bind="calendarModel"></compose>   
        </div>

        <div class="col-sm-6">
           <div class="card">
               <div class="card-body card-padding">
                   <div class="row">
                       <div class="col-sm-8">
                           <input type="text" class="form-control input-sm m-b-10" id="exampleInputEmail2" placeholder="00.00">
                       </div>
                       <div class="col-sm-4">
                           <button class="btn btn-primary btn-block waves-effect">Donate</button>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>

        
</template>