<template>
    
    <div class="row">
        <div class="col-sm-6">
            <compose view="common/calendarWidget/index.html" view-model="common/calendarWidget/index" model.bind="calendarModel"></compose>   
            
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Contact Information
                        <!--<small>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit-->
                        <!--    libero-->
                        <!--</small>-->
                    </h2>
                </div>
                <div class="card-body card-padding" ref="contactContainer">
                    
                </div>
            </div>
        </div>

        <div class="col-sm-6">
           <div class="card">
               <div class="card-body card-padding">
                   <div class="row">
                       <div class="col-sm-8">
                            <form id="paypal_form" style="align-content: center; text-align: center;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal">    
                                <input type="hidden" name="cmd" value="_donations">
                                <input type="hidden" name="business" value="theunderdogsrescue@gmail.com">
                                <input type="hidden" name="lc" value="US">
                                <input type="hidden" name="item_name" value="Donation to Underdogs Rescue inc.">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="cn" value="Include a note with your donation.">
                                <input type="hidden" name="no_shipping" value="0">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="hosted_button_id" value="K78MNSUB5VEU4">
                            	<input type="hidden" name="on0" value="Donation amount">
                                <input ref="txtdonationAmt" type="text" class="form-control input-sm m-b-10" name="amount" placeholder="00.00">
                            </form>
                       </div>
                       <div class="col-sm-4">
                           <button class="btn btn-primary btn-block waves-effect" onclick="$('#paypal_form').submit(); return false;">Donate</button>
                       </div>
                   </div>
               </div>
           </div>
           
           <div class="card">
               <div class="card-header">
                   <h2>If you prefer the good ol' ways, you can also send a check to:</h2>
               </div>
               <div class="card-body card-padding">
                   <div class="pmo-block pmo-contact">
                       <ul>
                           <li>
                               <i class="zmdi zmdi-pin"></i>
                               <address class="m-b-0 ng-binding">The Underdogs Rescue Inc.<br>P.O. Box 816<br>Choctaw, OK, 73020</address>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
        </div>
    </div>

        
</template>