<template>
    <div class="block-header">
        <h2>Create Role</h2>
    </div>
    
    <div class="card">
        <!--<div class="card-header">-->
        <!--    <h2>Roles-->
        <!--        <small>You can assign/remove permissions for a given role or even add a new role on this screen.-->
        <!--        </small>-->
        <!--    </h2>-->
        <!--</div>-->
        
       
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-5 m-b-25">
                    <!--<p class="f-500 m-b-15 c-black">Roles</p>-->
                
                    <div class="form-group fg-line">
                        <label>Role name:</label>
                        <input type="text" class="form-control input-sm" placeholder="Enter role name" value.bind="role.name">
                    </div>
                
                </div>
                <div class="col-sm-2 m-b-25 pull-left">
                    <label class="checkbox checkbox-inline m-t-30">
                        <input type="checkbox" checked.bind="role.enable">
                        <i class="input-helper"></i>
                        Active
                    </label>
                </div>
                <div class="col-sm-5 m-b-25 pull-right">
                    <!--<button class="btn btn-primary btn-icon-text waves-effect pull-right m-l-20" click.delegate="click_createRole()"><i class="zmdi zmdi-plus"></i>-->
                    <!--                Create New Role-->
                    <!--</button>-->
                    
                    <button class="btn btn-success btn-icon-text waves-effect pull-right" click.delegate="click_applyChanges()"><i class="zmdi zmdi-floppy"></i>
                                    Save Changes
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" ref="dynamicDom">
                    </div>                    
                </div>
            </div>
        </div>

    </div>
    
</template>