<template>
    <div class="block-header">
        <h2>Manage Roles</h2>

        <!--<ul class="actions">-->
        <!--    <li>-->
        <!--        <a href="">-->
        <!--            <i class="zmdi zmdi-trending-up"></i>-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--        <a href="">-->
        <!--            <i class="zmdi zmdi-check-all"></i>-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    <li class="dropdown">-->
        <!--        <a href="" data-toggle="dropdown">-->
        <!--            <i class="zmdi zmdi-more-vert"></i>-->
        <!--        </a>-->

        <!--        <ul class="dropdown-menu dropdown-menu-right">-->
        <!--            <li>-->
        <!--                <a href="">Refresh</a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--                <a href="">Manage Widgets</a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--                <a href="">Widgets Settings</a>-->
        <!--            </li>-->
        <!--        </ul>-->
        <!--    </li>-->
        <!--</ul>-->

    </div>
    
    <div class="card">
        <div class="card-header">
            <h2>Roles
                <small>You can assign/remove permissions for a given role or even add a new role on this screen.
                </small>
            </h2>
        </div>
        
       
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-5 m-b-25">
                    <!--<p class="f-500 m-b-15 c-black">Roles</p>-->
                
                    <select class="selectpicker" ref="rolesCombo" data-live-search="true" title="Select a role">
                        <option>Mustard</option>
                        <option>Ketchup</option>
                        <option>Relish</option>
                        <option>Tent</option>
                        <option>Flashlight</option>
                        <option>Toilet Paper</option>
                    </select>
                
                </div>
            </div>
        </div>

        <div class="table-responsive">
            
        </div>
    </div>
    
</template>