<template>
    <div class="block-header">
        <h2>Manage Roles</h2>

        <!--<ul class="actions">-->
        <!--    <li>-->
        <!--        <a href="">-->
        <!--            <i class="zmdi zmdi-trending-up"></i>-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--        <a href="">-->
        <!--            <i class="zmdi zmdi-check-all"></i>-->
        <!--        </a>-->
        <!--    </li>-->
        <!--    <li class="dropdown">-->
        <!--        <a href="" data-toggle="dropdown">-->
        <!--            <i class="zmdi zmdi-more-vert"></i>-->
        <!--        </a>-->

        <!--        <ul class="dropdown-menu dropdown-menu-right">-->
        <!--            <li>-->
        <!--                <a href="">Refresh</a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--                <a href="">Manage Widgets</a>-->
        <!--            </li>-->
        <!--            <li>-->
        <!--                <a href="">Widgets Settings</a>-->
        <!--            </li>-->
        <!--        </ul>-->
        <!--    </li>-->
        <!--</ul>-->

    </div>
    
    <div class="card">
        <div class="card-header">
            <h2>Roles
                <small>You can assign/remove permissions for a given role or even add a new role on this screen.
                </small>
            </h2>
        </div>
        
       
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-5 m-b-25">
                    <!--<p class="f-500 m-b-15 c-black">Roles</p>-->
                
                    <select class="selectpicker" ref="rolesCombo" value.bind="selectedRole" change.delegate="change_selectedRole()" data-live-search="true" title="Select a role">
                        <option repeat.for="role of roleList" model.bind="role">${role.name}</option>
                    </select>
                
                </div>
                <div class="col-sm-2 m-b-25 pull-left">
                    <label class="checkbox checkbox-inline m-t-10" if.bind="tdata">
                        <input type="checkbox" checked.bind="tdata.enable">
                        <i class="input-helper"></i>
                        Active
                    </label>
                </div>
                <div class="col-sm-5 m-b-25 pull-right">
                    <button class="btn btn-primary btn-icon-text waves-effect pull-right m-l-20" click.delegate="click_createRole()"><i class="zmdi zmdi-plus"></i>
                                    Create New Role
                    </button>
                    
                    <button class="btn btn-success btn-icon-text waves-effect pull-right" if.bind="selectedRole" click.delegate="click_applyChanges()"><i class="zmdi zmdi-floppy"></i>
                                    Apply Changes
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" ref="dynamicDom">
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pull-right">
                    
                </div>
            </div>
        </div>

    </div>
    
</template>